<button (click)="delayDemo()">Wait 2 seconds</button>
<p>{{ delayMessage }}</p>

<button (click)="animateRightDemo()">Slide to the right</button>
<div id="slide-div">I'm a div tag</div>
<p id="slide-p">I'm a p tag</p>
<label id="slide-label" for="slide-input">I'm a label / input example:</label>
<input type="text" id="slide-input" name="slideInput"><br />
<iframe id="slide-iframe" src="" height="100px" width="100px"></iframe>
<div id="slide-flex" class="flex-container">
    <p>Flex Child 1</p>
    <p>Flex Child 2</p>
</div>
<svg id="slide-svg" height="100" width="100">
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
    Sorry, your browser does not support inline SVG.  
</svg> 
