<p *ngIf="errorMsg">There was an error: {{ errorMsg }}</p>
<p *ngIf="showLoading">Loading...</p>
<div *ngIf="!errorMsg && !showLoading">
    <div class="selected">
        <img [src]="selectedDog.image">
        <p>{{ selectedDog.breed }}</p>
    </div>
    <div class="dogs">
        <div *ngFor="let dog of images" class="dog">
            <a (click)="selectedDog = dog">
                <img [src]="dog.image">
                <p>{{ dog.breed }}</p>
            </a>
        </div>
        <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" class="flexbox-hack"><!-- flexbox hack for last row --></div>
    </div>
</div>
